.title {
    background-color: rgb(250, 253, 252);
    text-align: center;
    border-radius: 10px;
}
.links {

    
    background-color: rgba(133, 75, 4, 0.532);
    text-align: center;
    border-radius: 20px;
     
    
}

.links li {
 display: inline-block;
 margin: 65px;
  
}
.links li a {
    font-style: italic;
    font-size: large;
    text-decoration: none;
    color: rgb(255, 253, 250);
}
.clear {
    clear: both;
}
.items {
    background-color: aliceblue;
}
.items article {
    float: left;
    width: 25%;
    text-align: center;
}
.items article img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border: 3px solid red;
    vertical-align: top;
}
.clearr {
    clear: both;
}
.photo img {
    width: 800px;
    height: 500px;
    background-position: center;
}
.photo {
    text-align: center;
}
figcaption {
    text-align: center;
}
.welcome{
    text-align: center;
}
.this {
    text-align: center;
}
 
 .Explore {
    color:white ;
    background-color: rgb(112, 113, 112);
    position: fixed ;
    width: 80px;
    height: 30PX;
    padding: 5px;
    right: 0;
     
    top: 50%;
    text-align: center;
}
table {

    width: 100%;
    background-origin: 100%;
     border-spacing: 5px;
      
}
table td {
    background-color: beige;
    text-align: center;
    padding: 5px;
     
    

}
table th {
    background-color: brown;
    color: azure;

}
figcaption {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: large;
}
 
body {
     background-color: rgb(202, 196, 196);

}
label[for = "message"]{
    display: block;
}
label[for = "name"]{
    display: block;
}
  .fav {
    width: 100%;
    
     display: flex;
     justify-content: space-around;
     
  }
  span {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
}